.header__bell {
    color: var(--simple-white);
    cursor: pointer;
}

.yoshi {
    display: none;
    margin-top: 1rem;
    text-align: center;
}

.yoshi__hide {
    display: block;
}

.yoshi__gif {
    border-radius: 15%;
    width: 30%;
}

@media screen and (min-width: 1024px) { 
    .yoshi__gif {
        border-radius: 15%;
        width: 15%;
    }
}