:root {
    --simple-white: #ffffff;
    --easy-black: #333333;
    --unifavip-primary: #87005c;
    --unifavip-secundary: #ff2a00;
}

body {
    background: #FFF6FA;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
    }
}
