@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,900&display=swap');

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.lupa-pesquisa {
    margin-top: auto;
    padding: 0;
    margin-left: 15px;
    height: 20px;
    width: 20px;
}

input {
    height: 36px;
    width: 225px;
    border-radius: 12px;
    border:none;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.212);
    padding-left: 18px;
    outline: none;
}

#pesquisa-livros {
    background-color: #f7f7f7;
    width: 260px;
    height: 38px;
    border-radius: 10px;
    margin-top: 2rem;
}

#livros {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    margin: auto; 
    margin-top: 5rem;
}

.conteiner-a {
    background-color: #a0005bef;
    text-align: center;
    width: 8.375rem;
    height: 13.375rem;
    border-radius: 15px;
    margin: 0.7rem;
    margin-left: 2rem;
    cursor: pointer;
}

.conteiner-a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.conteiner-a:hover {
    background-color: #ce0075ef;
}

img {
    width: 104px;
    height: 143px;
    text-align: center;
    padding-top: 1rem;
}



.name-block {
    background-color: #FFA300;
    width: 6.5rem;
    height: 2.063rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}